<!DOCTYPE html>
<html lang="en" font-size="20px">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta content=yes name=apple-mobile-web-app-capable />
    <meta content=yes name=apple-touch-fullscreen />
    <meta content="telephone=no,email=no" name=format-detection />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta content="telephone=no" name="format-detection" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <title>umi app</title>
  </head>

  <body>
    <div id="root">
      <div class="default-load"></div>
    </div>
  </body>
  <script type="text/javascript" src="https://pages.c-ctrip.com/tourbus/js/resize.js" />
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=76ekztkNdeFR79fKj7YQdVbF4H522xED&s=1" />
</html>